<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class='bgItem'>
                <tr>
                    <td width='40'></td>
                    <td width='520'>
                        <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td class='movableContentContainer' valign='top'>
                                        <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr><td height='55'></td></tr>
                                            <tr>
                                                <td align='left'>
                                                    <h2 style="color:#222222;font-size:19px;font-weight:normal;text-align:left" >
                                                        Для вас получена информация о следующих тендерах государственных закупок:
                                                    </h2>
                                                </td>
                                            </tr>

                                            <tr><td height='15'> </td></tr>
                                            #if($international)
                                                #foreach ($receivedInformation in $receivedInformations)
                                                    <tr>
                                                        <td align='left'>
                                                            <p  style='text-align:left;color:#000000;font-size:14px;font-weight:normal;line-height:19px;'>
                                                                <font color=#3C2927>Номер тендера:</font> $receivedInformation.number
                                                                <br>
                                                                <font color=#3C2927>Краткая информация:</font> $receivedInformation.briefDescription
                                                                <br>
                                                                <font color=#3C2927>Страна:</font> $receivedInformation.country
                                                                <br>
                                                                <font color=#3C2927>Регион:</font> $receivedInformation.companyRegion
                                                                <br>
                                                                <font color=#3C2927>Стоимостью:</font> $receivedInformation.cost
                                                                <br>
                                                                <font color=#3C2927>Предложение действительно до:</font> $receivedInformation.requestEndTme
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align='right' valign='top'>
                                                            <a target='_blank' href="$receivedInformation.link" style="color:#382F2E">Подробнее →</a>
                                                            <br>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                #end
                                            #else
                                                #foreach ($receivedInformation in $receivedInformations)
                                                    <tr>
                                                        <td align='left'>
                                                            <p  style='text-align:left;color:#000000;font-size:14px;font-weight:normal;line-height:19px;'>
                                                                <font color=#3C2927>Номер тендера:</font> $receivedInformation.number
                                                                <br>
                                                                <font color=#3C2927>Краткая информация:</font> $receivedInformation.briefDescription
                                                                <br>
                                                                <font color=#3C2927>Заказчик:</font> $receivedInformation.companyRegion
                                                                <br>
                                                                <font color=#3C2927>Стоимостью:</font> $receivedInformation.cost
                                                                <br>
                                                                <font color=#3C2927>Предложение действительно до:</font> $receivedInformation.requestEndTme
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align='right' valign='top'>
                                                            <a target='_blank' href="$receivedInformation.link" style="color:#3C2927">Подробнее →</a>
                                                            <br>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                #end
                                            #end
                                        </table>
                                </td>
                            </tr>
</body>
</html>



